.menuCabecera{
background-color: #aadae5;
width: 100%;
}
*{
    padding: 0;
    margin: 0;
}
.banner{
    width: 100%;
    height: 350px;
    background-image: url("../imagenes/escritorio-madera-libros-manzana_23-2147849980.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
}
.marcoColumnas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.marcoColumnas img{width: 100%;
}
.columna{
    flex: 1;
    background-color: aquamarine;
    border: 1px solid #5396d1;
}
.footer{
    width: 100%;
    height: 120px;
    background-color:#1da1b8 ;
}
.colorGris{
    background-color:rgb(224, 186, 143);
}
.colorRojo{
    background-color: rgb(114, 114, 114);
}
.colorAzul{
    background-color: rgb(218, 241, 255);
}
.listamenu li{
    display: inline;
    padding: 10px;
    border-right: solid 2px black;
}
.listamenu{
    padding: 10px;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}
li a{
    text-decoration: none;
}
li a:hover{
    color: #E2430c; 
}
.listamenu li:last-child{
    border-right: none;
}
.formulario{
    width: 100%;
    padding: 10px;
}
form{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
input[type=text]{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
textarea{
    width: 100%;
    height: 100px;
    margin: 10px;
}
input[type= submit]{
    padding: 5px;
    background: rgb(20,140,30,0.5);
    width: 100%;
    margin: auto;
}
input[type=submit]:hover{
    background-color: rgb(20,140,30);
    cursor: pointer;
}
li a img{
    width: 28px;
}
li a img:hover{
    background-color: none;
    opacity: 30%;
}
.derechos{
    padding: 15px;
}